******************************************
***    MD-Softworks					   ***
***    Windows Automated Simplifier    ***
***    Requirements				       ***
******************************************
	
Design
	+ IconSpacing
	+ ChangeFont
	+ Black Theme
	+ ToggleAeroShake
	+ Folder Checkboxes
	+ Shortcut Extension
	+ TaskbarPreviewWindow
	+ Aero-Peek Time
FileSystem
	+ FileSystem
Network
	+ NetworkSettings
Misc
	-MISC PasswordSafe (External Window)
	+ EncryptedFolder
	-MISC Compress/DeCompress
	-MISC ShortcutDialog

About
	+ Credits (MD-Softworks)